
<!DOCTYPE html>
<html>
<head>
    <title>Recipe Search</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form method="post" action="{{ url_for('search') }}">
            <h1>Recipe Search</h1>
            <input type="text" name="query" placeholder="Enter recipe name or ingredients" required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>